// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

U_MACRO(u_chage_BASE, bindings = <&to 0>, <&macro_press &kp LCTRL>, <&macro_tap &kp SPACE>, <&macro_release &kp LCTRL>;)
U_MACRO(u_chage_EXTRA, bindings = <&to 1>, <&macro_press &kp LCTRL>, <&macro_tap &kp SPACE>, <&macro_release &kp LCTRL>;)
U_MACRO(u_chage_rBASE, bindings = <&to 0>, <&kp RALT>;)
U_MACRO(u_chage_rEXTRA, bindings = <&to 1>, <&kp RALT>;)

#define MIRYOKU_DOUBLE_TAP_GUARD(NAME, BINDING) \
/ { \
  behaviors { \
    NAME: NAME { \
      compatible = "zmk,behavior-tap-dance"; \
      #binding-cells = <0>; \
      tapping-term-ms = <U_TAPPING_TERM>; \
      bindings = <&none>, <BINDING>; \
    }; \
  }; \
};

MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_change_BASE, &u_chage_BASE)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_change_EXTRA, &u_chage_EXTRA)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_change_rBASE, &u_chage_rBASE)
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_change_rEXTRA, &u_chage_rEXTRA)

#define MIRYOKU_X(LAYER, STRING) \
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_##LAYER, &to U_##LAYER)
MIRYOKU_LAYER_LIST
#undef MIRYOKU_X

#if defined (MIRYOKU_KLUDGE_DOUBLETAPBOOT)
  #if defined (MIRYOKU_KLUDGE_SOFT_OFF)
MIRYOKU_DOUBLE_TAP_GUARD(u_soft_off, &soft_off)
  #else
MIRYOKU_DOUBLE_TAP_GUARD(u_bootloader, &bootloader)
  #endif
#endif
